/* normalizar navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que el padding y el border no se sumen al width*/
    text-decoration: none;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    color: rgb(0, 0, 0);
}

main{
    display: flex;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    width: 400px;
    height: 600px;
    padding: 1em;
    background-color: white;
    color: black;
    border-radius: 20px;

    .LogoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: auto;
        font-size: 40px;
    }
    

    .UserLogin{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    
        input{
            height: 45px;
            text-align: center;
            font-size: 20px;
            }

        .button{
            background-color: rgb(255, 0, 255);
            color: white;
            border: none;
            height: 50px;
            border-radius: 30px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button:hover{
            background-color: rgb(180, 0, 180);
        }

        a{
            color: black;
            font-size: 15px;
        }
        span{
            color: blueviolet;
        }
    }


}