/* normalizar navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que el padding y el border no se sumen al width*/
    text-decoration: none;
}
body{
    background-color: rgb(64, 1, 122);
    color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

    h1{
        text-align: center;
        font-size: 35px;
    }
}

main{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;

}
.contenedorTarjetas{
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;   
        gap: 2em;
}   

.tarjeta {
    background-color: #2A2A40;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #3A3A50;
    text-align: center;
    margin: 10px;
    
    img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    }

    h3 {
        color: #cc00ff;
    }

    p {
    font-size: 14px;
    color: #c2b0c3;
    margin-top: 5px;
    }
}