@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sofiacond {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.sofiaextracond {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.sofiasemicond {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }