:root {
    --bg-primario: #ffffff;
    --bg-secundario: rgb(64, 1, 94);
    --txt-primario: #7c7c7c;
    --txt-secundario: #000000;
    --txt-terciario: #ffffff;
    --bg-detalles-primario: #00DB9E;
    --bg-detalles-secundario: rgb(188, 187, 192);
    --arial: 'Arial', sans-serif;
    --sombra: rgba(0, 0, 0, 0.2);
    --sombra-chica: 0px 4px 10px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0px 0px 20px rgba(0, 0, 0, 0.5);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--arial);
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--bg-primario);
    color: var(--txt-primario);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: var(--sombra);
}

header {
    position: relative;
    width: 100%;
    height: 400px;
}

header img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header .Buscador {
    position: absolute;
    bottom: -1.5em;
    width: 80%;
    height: 3.5em;
    margin: 0 10%;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-primario);
    box-shadow: var(--sombra-grande);
}

.Buscador .IconoBuscador {
    width: 3.8em;
    border-radius: 6px;
}

.Buscador .IconoBuscador button {
    width: 100%;
    height: 100%;
}

.Buscador .Texto input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: var(--txt-primario);
}

header .TextInicio{
    position: absolute;
    bottom: 3.5em;
    left: 1px;
    margin: 0 10%;
    color: var(--txt-terciario);
}

.bg-Detalles-Primary{
    background-color: var(--bg-detalles-primario);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
    }
    a {
        text-decoration: none;
    }
}

.TipoComida {
    width: 100%;
    padding: 2em 1em 0.4em 1em;
    display: flex;
    gap: 1em;
    overflow: auto hidden;
    scrollbar-width: none;
}

.TipoComida .IconoComida {
    height: 100px;
    flex: 0 0 100px;
}

.TextOffer{
    display: flex;
    padding: 1em;
    width: 100%;
}

.Restaurantes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.TarjetaResto {
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--txt-primario);
    box-shadow: var(--sombra-grande);
}

.RestoImg {
    width: 180px;
    height: 163px;
    border-radius: 10px 0 0 10px;
}

.TextoResto {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--bg-primario);
}

.ContainerStarDolar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Puntuacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-detalles-primario);
    box-shadow: var(--sombra-chica);
    border-radius: 15px 0px;
}
/* tarjeta es para la puntuacion del index */
.Tarjeta{
    position: absolute;
    right: -1px;
    width: 45px;
    height: 43px;
}

@media screen and (orientation: landscape) {
    main .Restaurantes {
        display: flex;
        flex-direction: row;
        justify-content: nowrap;
    }

    .Restaurantes .TarjetaResto {
        width: 410px;
    }

    main .TipoComida {
        scrollbar-width: auto;
    }

}

/* aca termina el index ------------------------------------------------------- */
.ContainerimgX{
    position: relative;
    .Salir{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #00DB9E;
    }
}
.imgRestorants {
    height: 350px;
}

.Titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;

    .TextoTitulo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: larger;
    }

    .ContainerPuntajeDolar{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 30px;
        top: -50px;
    }
    /* puntoResto es para la puntuacion de los restaurantes */
    .PuntoResto{
        width: 79px;
        height: 75px;
        font-size: 40px;
    }

}

.ContainerHoraKm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 15px 15px 15px;
}

.CajaTexto{
    padding: 20px 15px ;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: var(--sombra-chica);

    .contentFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;

        a {
            color: var(--txt-secundario);
            height: 80px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    

    
    a:hover {
        background-color: var(--sombra);
    }
}

.HeaderMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    .TituloMenu{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.ContenidoMenu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .CartaMenu{
        display: flex;
        flex-direction: row;
        color: var(--txt-primario);
        box-shadow: var(--sombra-chica);

        .PuntoImg{
            width: 167px;
            height: 111px;
            display: flex;
            flex-direction: row;
            position: relative;

            .PrecioPlato{
                width: 58px;
                height: 32px;
                font-size: 16px;
                position: absolute;
                right: 5px;
                bottom: 5px;
                border-radius: 30px 0px;
            }
        }
        .NombrePlato{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 26px 0px 26px 10px;
        }
    }
}

.Plato{
    gap: 30px;
}
.ImgX{
    width: 100%;
    position: relative;
    .Salir{
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.TituloPlato{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .TextoTitulo{
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: larger;
    }

    .PlatoPunto{
            width: 110px;
            height: 67px;
            font-size: 32px;
            border-radius: 30px 0px;
        }

}

.CajaTextoPLato{
    padding: 20px;
    font-size: 20px;
}

.Criticas,input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--txt-primario);
    text-align: center;
}
.contenedorbotones{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 108px;
    padding: 10px;
    gap: 5px;
    font-size: 32px;

    .ContentButton1{
        background-color: var(--bg-detalles-primario);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 20px;

        width: 133px;
        height: 88px;
    }

    .ContentButton2{
        background: var(--bg-detalles-primario); 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        width: 282px;
        height: 88px;
    }
}
