:root {
    --bg-primario: #ffffff;
    --bg-secundario: rgb(64, 1, 94);
    --txt-primario: #7c7c7c;
    --txt-secundario: #000000;
    --txt-terciario: #ffffff;
    --bg-detalles-primario: #00DB9E;
    --bg-detalles-secundario: rgb(188, 187, 192);
    --arial: 'Arial', sans-serif;
    --sombra: rgba(0, 0, 0, 0.2);
    --sombra-chica: 0px 4px 10px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0px 0px 20px rgba(0, 0, 0, 0.5);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--arial);
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--bg-primario);
    color: var(--txt-primario);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: var(--sombra);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
}
header .LogoUser{
    img{
        width: 40px;
        height: 40pz;
    }
}

main .Buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .6em 1em .6em 1em;
}

.Buscador input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
}

main .AllFeatured{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .6em 1em .6em 1em;
    .IconosSortFilt{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}

main .Categorias {
    width: 100%;
    padding: 2em 1em 0.4em 1em;
    display: flex;
    gap: 1em;
    overflow: auto hidden;
    scrollbar-width: none;
    gap: 1.5em;

}

.Categorias .IconoCategoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ImgIconoCate{
    img{
        width: 60px;
        height: 60px;
    }
}
main .Anuncio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .ImgAnuncio{
    position: relative;
    padding: 1em;
    img{
        width: 100%;
    }
}

.ImgAnuncio .Texts{
    color: #ffffff;
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1.5em;
    button{
        border:1px solid #ffffff;
        border-radius: 6px;
        height: 40px;
        width: 120px;
        color: #ffffff;
        
    }
}

main .BarraPromo{
    padding: 1em;
    color: white;
    .ContainerPromo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        border-radius: 12px;
        
        .Texto{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
        }
        
        button{
            border:1px solid #ffffff;
            border-radius: 6px;
            height: 40px;
            width: 120px;
            color: #ffffff;
            
        }
    }
}
.bg-aqua{
    background-color:aqua;
}
.bg-red{
    background-color: rgb(253, 110 ,134);
}

main .ProductosVenta {
    width: 100%;
    padding: 1em 1em 0.4em 1em;
    display: flex;
    gap: 1em;
    overflow: auto hidden;
    scrollbar-width: none;
    gap: 1.5em;
}

.ProductosVenta .Producto {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;


    img{
        width: 170px;
        border-radius: .4em;
    }
    .TextoProducto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Descuento{
        display: flex;
        gap: 10px;
        .Tachado{
            background-color: gray;
            color: #d8d8d8;
            border-radius: 20px;
        }
        .Off{
            color: red;
        }
    }
    .ContainerEstrella{
        display: flex;
        flex-direction: row;
        padding: 5px;

        .EstrellaA{
            width: 18px;
            height: 18px;
        }

    }   
}

main .SpecialOffers{
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;

    img{
        width: 75px;
        height: auto;
    }
    .SpecialText{
        display: flex;
        flex-direction: column;
    }
}


main .FlatAndHeels{
    position: relative;
    padding: 1em;
    img{
        width: 100%;
    }
    .TextFlatAnd{
        position: absolute;
        top: 4em;
        right: 2em;

        display: flex;
        flex-direction: column;
        align-items: end;

        .TextoHeels{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button{
        font-size: large;
        border-radius: 6px;
        height: 40px;
        width: 120px;
        color: #ffffff;
        background-color: red;
        }
    }
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 1em 2em 1em;
    .IconoFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}